@charset "utf-8";
/* CSS Document */





@font-face {
    font-family: 'suisse_intlbook';
    src: url('suisseintl-book-webfont.woff2') format('woff2'),
         url('suisseintl-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'suisse_intlbold';
    src: url('suisseintl-bold-webfont.woff2') format('woff2'),
         url('suisseintl-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  padding: 0;
  background-color: #fae500;
}

* {
  font-family: suisse_intlbold, sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000000;
  text-decoration-color: #000000

}

.links {
  text-decoration: none;
  color: #000000;
  text-decoration-color: #000000


}


.description{
  font-family: 'suisse_intlbold';
  text-align: left;

}

.pulse {
    background-color: #fae500;
    -webkit-animation: blink 800ms infinite;
            animation: blink 800ms infinite;
}
@-webkit-keyframes blink { 50% { background-color: white; }}
        @keyframes blink { 50% { background-color: white; }}

.logo{
  display: block;
  width: 50%;
  height: auto;
  margin: 2px auto;
}

.imgcontainer{
  height: auto;
  margin: 2px auto;
  width: 50%;
}

h5{
  text-align: right;
}

.scroll-left {
height: 50px; 
overflow: hidden;
position: relative;
font-family: 'suisse_intlbold';
background: #fae500;
}
.scroll-left h2 {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
/* Starting position */
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%); 
transform:translateX(100%);
/* Apply animation to this element */ 
-moz-animation: scroll-left 25s linear infinite;
-webkit-animation: scroll-left 25s linear infinite;
animation: scroll-left 25s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
0% { -moz-transform: translateX(100%); }
100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
0% { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
0% { 
-moz-transform: translateX(100%); /* Browser bug fix */
-webkit-transform: translateX(100%); /* Browser bug fix */
transform: translateX(100%); 
}
100% { 
-moz-transform: translateX(-100%); /* Browser bug fix */
-webkit-transform: translateX(-100%); /* Browser bug fix */
transform: translateX(-100%); 
}
}


span.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin-top: 5px;
  background: #000000;
  border-radius: 2px;
}

#togg_menu {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
#togg_menu:focus ~ header > .megaMenu {
  transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
}

header .megaMenu {
  transform: translateX(-420px);
  -ms-transform: translateX(-420px);
  -o-transform: translateX(-420px);
  -webkit-transform: translateX(-420px);
  -moz-transform: translateX(-420px);
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background: #fae500;
  position: fixed;
  width: 400px;
  height: 100%;
  padding-top: 50px;
  z-index: 100;
  border-right: 2px solid #ddd;
}
header .megaMenu li {
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  border-left: 5px solid transparent;
}
header .megaMenu li a {
  text-align: center;
  padding: 15px 0;
  background: #fae500;
  width: 90%;
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
header .megaMenu li a:hover {
  color: #000000;
}
header .megaMenu li:hover {
  border-left: 5px solid #000000;
}
header .biggie {
  transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  list-style-type: none;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding-top: 50px;
  background: #fff;
  z-index: -1;
}

.stuff:hover > .biggie {
  transform: translateX(252px);
  -ms-transform: translateX(252px);
  -o-transform: translateX(252px);
  -webkit-transform: translateX(252px);
  -moz-transform: translateX(252px);
}

main {
  margin: 15px auto;
  width: 33%;
  background: #ffffff;
  border-radius: 5px;
  padding: 3%;
  text-align: center;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    main {
        margin: 15px auto;
        width: 85%;
    }
    
    .logo{
  display: block;
  width: 85%;
  height: auto;
  margin: 2px auto;
}

}

@media only screen and (max-width: 900px) {
    /* For tablets: */
    main {
        margin: 15px auto;
        width: 66%;
    }
    
   .logo{
  display: block;
  width: 65%;
  height: auto;
  margin: 2px auto;
}
}

#issue{

  margin-top: 5%;
  font-size: 
}

footer{
  background-color: #fae500;
  padding: 3%;

}


