@charset "utf-8";
/* CSS Document */





@font-face {
    font-family: 'suisse_intlbook';
    src: url('suisseintl-book-webfont.woff2') format('woff2'),
         url('suisseintl-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'suisse_intlbold';
    src: url('suisseintl-bold-webfont.woff2') format('woff2'),
         url('suisseintl-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  padding: 0;
  background-color: #fae500;
}

* {
  font-family: suisse_intlbold, sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000000;
  text-decoration-color: #000000

}

.links {
  text-decoration: none;
  color: #000000;
  text-decoration-color: #000000


}

span.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin-top: 5px;
  background: #000000;
  border-radius: 2px;
}

#togg_menu {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
#togg_menu:focus ~ header > .megaMenu {
  transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
}

header .megaMenu {
  transform: translateX(-420px);
  -ms-transform: translateX(-420px);
  -o-transform: translateX(-420px);
  -webkit-transform: translateX(-420px);
  -moz-transform: translateX(-420px);
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background: #fae500;
  position: fixed;
  width: 400px;
  height: 100%;
  padding-top: 50px;
  z-index: 100;
  border-right: 2px solid #ddd;
}
header .megaMenu li {
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  border-left: 5px solid transparent;
}
header .megaMenu li a {
  text-align: center;
  padding: 15px 0;
  background: #fae500;
  width: 90%;
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
header .megaMenu li a:hover {
  color: #000000;
}
header .megaMenu li:hover {
  border-left: 5px solid #000000;
}
header .biggie {
  transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  -o-transform: translateX(-270px);
  -webkit-transform: translateX(-270px);
  -moz-transform: translateX(-270px);
  transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  list-style-type: none;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding-top: 50px;
  background: #fff;
  z-index: -1;
}

.stuff:hover > .biggie {
  transform: translateX(252px);
  -ms-transform: translateX(252px);
  -o-transform: translateX(252px);
  -webkit-transform: translateX(252px);
  -moz-transform: translateX(252px);
}

main {
  margin: 15px auto;
  width: 33%;
  background: #ffffff;
  border-radius: 5px;
  padding: 3%;
  text-align: center;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    main {
        margin: 15px auto;
        width: 85%;
    }
}

@media only screen and (max-width: 900px) {
    /* For tablets: */
    main {
        margin: 15px auto;
        width: 66%;
    }
}

#issue{

  margin-top: 5%;
  font-size: 
}

footer{
  background-color: #fae500;
  padding: 3%;

}


